@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #54575a;
    background: linear-gradient(180deg, #ffffff, #f3f8f7, 49.91%, #fff9f5, 94.19%);
}

.wrapper {
    position: relative;
    width: 1440px;
    min-height: 100vh;
    margin: auto;    
}

.title {
    position: absolute;  
    height: 135px;
    width: 458px;
    left: 221px;
    top: 236px;    
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 67px;      
}

.text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 403px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.brand-img {
    height: 47.63773727416992px;
    width: 193px;
    left: 221px;
    top: 50.2525634765625px;
    border-radius: 0px;
}